[submodule "list"]
	path = data_structures/list
	url = https://github.com/aneeshdurg/generic-list
[submodule "algebraic-c"]
	path = data_structures/algebraic-c
	url = https://github.com/aneeshdurg/algebraic-c
